In [1]:
import pandas as pd

In [2]:
wvs_data = pd.read_csv('wvs_data_all.csv')
wvs_data.head()

,version,doi,S001,S002VS,S003,COUNTRY_ALPHA,COW_NUM,COW_ALPHA,S004,S006,...,Y023A,Y023B,Y023C,Y024A,Y024B,Y024C,survself,tradrat5,TradAgg,SurvSAgg
0,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,1,...,0.000000,0.444444,0.444444,0.33,0.0,0.165,-1.011276,0.160847,0.158964,-1.792410
1,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,2,...,0.111111,0.444444,0.444444,0.33,0.0,0.165,-0.688773,0.409283,0.558946,-1.208679
2,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,3,...,0.000000,0.444444,0.444444,0.33,0.5,0.415,NaN,NaN,NaN,NaN
3,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,4,...,0.000000,0.333333,0.333333,0.33,0.0,0.165,-1.319863,0.733956,1.081669,-2.350952
4,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,5,...,0.000000,0.333333,0.333333,0.00,0.5,0.250,NaN,NaN,NaN,NaN

In [3]:
!pip install pypdf

Collecting pypdf
  Downloading pypdf-5.8.0-py3-none-any.whl.metadata (7.1 kB)
Downloading pypdf-5.8.0-py3-none-any.whl (309 kB)
Installing collected packages: pypdf
Successfully installed pypdf-5.8.0

In [6]:
from pypdf import PdfReader
import pandas as pd
import re

reader = PdfReader("variables.pdf")
text = ""
for page in reader.pages[288:300]:
    text += page.extract_text()

matches = re.findall(r"(\d{8})\s+([^\n]+)", text)
df_codes = pd.DataFrame(matches, columns=["Code", "Religion"])
df_codes.head()

       Code                         Religion
0  10000000                   Catholic, nfd
1  10100000   Roman Catholic; Latin Church;
2  10200000  Eastern Catholic Churches; nfd
3  10201000                Alexandrian Rite
4  10201010          Coptic Catholic Church

In [7]:
df_codes.shape

(1496, 2)

In [8]:
df_codes['Religion'] = df_codes['Religion'].str.replace(r', nfd', '', regex=True)
df_codes['Religion'] = df_codes['Religion'].str.replace(r';.*?;', '', regex=True)
df_codes['Religion'] = df_codes['Religion'].str.replace(r';.*', '', regex=True)
df_codes.head()

       Code                   Religion
0  10000000                  Catholic
1  10100000            Roman Catholic
2  10200000  Eastern Catholic Churches
3  10201000          Alexandrian Rite
4  10201010    Coptic Catholic Church

In [9]:
wvs_data.shape

(443488, 1046)